.invoiceHistorySection {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-weight: 400;
}

.invoiceHistorySection > div {
  height: 100%;
  padding: 1rem 0rem;
}

.invoiceHistoryAndButton {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}

.invoiceHistorySection button{
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoiceHistorySection button svg{
  height: 1.8rem;
}

.invoiceHistorySection button:hover svg {
  transform: scale(1.4); /* Aumenta o tamanho do ícone em 20% */
  transition: transform 0.2s ease-in-out; /* Adiciona uma transição suave */
}

.invoiceHistorySection > div > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.invoiceHistorySection > div > ul > li {
  border-bottom: 1px solid rgb(129, 129, 129);
  font-size: 1.6rem;
  margin: 2rem;
  text-align: left;
}

.invoiceHistorySection > div > ul > li > a {
  text-decoration: none;
  color: white;
}


.uploadButton{
  display: none !important;
}

.customFileLabel{
  border: 1px solid rgb(24, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.customFileLabel svg{
  font-size: 1.5rem; /* Aumenta o tamanho do ícone */
  width: 1.5rem; /* Ajusta a largura do ícone */
  cursor: pointer; /* Adiciona o cursor de ponteiro */
  transition: transform 0.2s ease-in-out;
}

.customFileLabel svg:hover {
  transform: scale(1.6); /* Aumenta o tamanho do ícone ao passar o mouse */
}

.customFileLabel svg:active {
  transform: scale(1.6); /* Reduz ligeiramente o tamanho ao clicar */
}