.uploadInvoiceSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.headerContainer  {
  border-bottom: 2px solid rgb(53, 51, 51);
  display: flex;
  flex-direction: row;
  flex: 1.14;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.headerContainer h3{
  font-size: 1.6rem;
}

.headerContainer button{
  background-color: #f0921f;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.headerContainer button:hover{
  background-color: #b36607;
  cursor: pointer;
}

.uploadInvoiceResult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 8;
}

.uploadInvoiceBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadInvoiceBox > p {
  color: rgb(150, 150, 150);
  font-size: 1.4rem;
}
.uploadInvoiceResult > p {
  font-size: 1.4rem;
  color: rgb(37, 35, 35);
}

.uploadInvoiceInteraction {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem 2rem 5rem;
  border-radius: 20px;
  border: 2px solid rgb(53, 51, 51);
}

.uploadInvoiceInteraction label {
  width: 90%;
  height: 100%;
}

.uploadInvoiceTextarea {
  width: 100%;
  height: 90%;
  outline: none;
  border-radius: 20px;
  background-color: #222831;
  border: none;
  font-size: 1.2rem;
  color: whitesmoke;
  font-weight: 300;
  resize: none;
  padding: 0.4rem 0rem 0rem 1rem;
}

.uploadInvoiceTextarea::placeholder {
  font-size: 1.2rem;
  color: rgb(150, 150, 150);
}

.uploadButton {
  display: none;
}

.customFileLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #f0921f;
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.customFileLabel:hover {
  background-color: #ce4b97;
}

.sendButton {
  height: 100%;
  width: 8rem;
  font-size: 1.4rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f0921f;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #b36607;
  cursor: pointer;
}

.imageDiv{
  text-align: right;
}
.previewImage {
  max-width: 30%;
  max-height: auto;
  margin-top: 10px;
  margin-bottom: 1rem;
  margin-right: auto;
}

.divSecundaria {
  height: 100%;
  width: 90%;
  padding-left: 2rem;
  padding-right: 2rem;
  max-height: 70vh;
  overflow-y: auto;
}

.chatContainer {
  max-width: 60%;
  height: auto;
  margin-bottom: 2rem;
  word-break: break-word;
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out; /* Aplica a animação */
}

.chatContainer > p {
  font-size: 1.4rem;
  color: rgb(212, 206, 206);
  padding: 0.5rem;
  margin: 0;
  text-align: justify;
  padding: 1rem;
  line-height: 1.8rem;
}

/* Alinha à esquerda (IA) */
.iaMessage {
  align-self: flex-start;
  background-color: #3b3939;
  word-wrap: break-word;
}

/* Alinha à direita (Usuário) */
.userMessage {
  margin-left: auto;
  background-color: #504c4c;
}

.sendButton:disabled {
  background-color: rgba(
    90,
    67,
    78,
    0.5
  ); /* Cor mais suave para indicar desabilitado */
  cursor: default;
}

/* Estiliza barra de rolagem para o chat */
/* Estiliza a barra de rolagem */
.divSecundaria::-webkit-scrollbar {
  width: 15px;
}

/* Estiliza o fundo da barra de rolagem */
.divSecundaria::-webkit-scrollbar-track {
  background: #161a20;
  border-radius: 10px; 
}

/* Estiliza o "polegar" da barra de rolagem */
.divSecundaria::-webkit-scrollbar-thumb {
  background: #5f4929;
  border-radius: 10px; 
}

/* Estiliza o "polegar" ao passar o mouse */
.divSecundaria::-webkit-scrollbar-thumb:hover {
  background: #352917;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Move a mensagem para baixo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Mensagem na posição final */
  }
}